
body {
  font-family: 'Arimo', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  background-color: #121212!important;
  color: #9a9a9a;
}

label {
  padding-left: 1em;
}

.input-form {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.container {
  background: #202020;
  border-radius: 3em;
}

/*.container-fluid {*/
/*  height: 500px;*/
/*}*/

input {
  margin-bottom: 0.5em;
  color: #9a9a9a;
}

.btn {
  margin-left: 1em;
  color: #9a9a9a;
}

.container {
  /*background: #ffe8a1;*/
}

.form-control{
  background: #343a40;
  color: white;
}
